{% extends 'base.html.twig' %}
{% block title 'Accueil' %}

{% block body %}
    <div class="color-jumbotron-home jumbotron text-center text-white rounded-0 p-0">
        <div class="row m-0">
            <div class="col-lg-4 col-12">
                <img class="logo-img" src="/images/logo.jpg">
            </div>
            <div class="col-lg-4 col-12 py-5">
                <h1 class="title-h1">BarberShop</h1>
                <p class="description">Lorem Ipsum color sit amet</p>
            </div>
            <div class="d-lg-block col-lg-4 d-none">
                <img class="logo-img" src="/images/logo.jpg">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title-h2">
                    <h2 class="text-center">Les derniers produits</h2>
                </div>
            </div>
        </div>
        <div id="carousel1">
            {% for product in products %}
                    <div class="item mx-2">
                        <div class="card my-3">
                            <div class="card-body p-0">
                                <a class="product-link"
                                   href="{{ path('product.show', {id: product.id, slug: product.slug}) }}">
                                    <div>
                                        {% if product.image %}
                                            <img src="{{ 'images/products/' ~ product.image }}"
                                                 alt="card-img-top"
                                                 style="width: 100%; height: auto;">
                                        {% else %}
                                            <img src="{{ 'images/empty.jpg' }}" alt="card-img-top"
                                                 style="width: 100%; height: auto;">
                                        {% endif %}
                                    </div>
                                    {% if app.user %}
                                        <div class="button-basket">
                                            <a href="{{ path('basket.add', {'id': product.id}) }}"
                                               title="Ajouter au panier">Ajouter au panier</a>
                                        </div>
                                    {% endif %}
                                    <div class="color-card">
                                        <h4 class="title-product-link p-3"
                                            title="{{ product.name }}"><a
                                                    href="{{ path('product.show', {id: product.id, slug: product.slug}) }}">{{ product.name }}</a>
                                        </h4>
                                        <p class="price-paragraphe text-center">{{ product.formatedPrice }} €</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div>
        <div class="row">

            <div class="col-12">
                <div class="title-h2">
                    <h2 class="text-center">Qui nous sommes ?</h2>
                </div>
                <div>
                    <p>Ex turba vero imae sortis et paupertinae in tabernis aliqui pernoctant vinariis,
                        non nulli velariis umbraculorum theatralium latent, quae Campanam imitatus lasciviam
                        Catulus in aedilitate sua suspendit omnium primus; aut pugnaciter aleis certant turpi
                        sono fragosis naribus introrsum reducto spiritu concrepantes; aut quod est studiorum
                        omnium maximum ab ortu lucis ad vesperam sole fatiscunt vel pluviis,
                        per minutias aurigarum equorumque praecipua vel delicta scrutantes.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="title-h2">
                    <h2 class="text-center">Nos Partenaires</h2>
                </div>
            </div>
        </div>
        <div id="carousel2">
            {% for brand in brands %}
                <div class="item mx-2">
                    <div class="card my-3">
                        <div class="card-body card-body-product p-0">
                            <div>
                                {% if brand.image %}
                                    <img src="{{ 'images/products/' ~ brand.image }}"
                                         alt="card-img-top"
                                         style="width: 100%; height: auto;">
                                {% else %}
                                    <img src="{{ 'images/empty.jpg' }}" alt="card-img-top"
                                         style="width: 100%; height: auto;">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script src="/js/Carousel.js"></script>
{% endblock %}
