{% extends 'base.html.twig' %}
{% block title 'Les commandes' %}
{% block body %}
    <div class="row m-0">
        <div class="menu-admin d-lg-block col-lg-2 d-none">
            {{ include('layout/sidebar.html.twig') }}
        </div>
        <div class="container-admin col-lg-10 col-12">
            <div class="container mt-4">
                <h2>Gestion des commandes</h2>

                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}

                <table class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Référence</th>
                        <th>Client</th>
                        <th>Date</th>
                        <th>Payment</th>
                        <th>Prix total</th>
                        <th colspan="2">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                        <tr>
                            <td class="align-middle">{{ order.reference }}</td>
                            <td class="align-middle">{{ order.user.fullname }}</td>
                            <td class="align-middle">{{ order.formattedDate }}</td>
                            <td class="align-middle">{{ order.paymentMethod.name }}</td>
                            <td class="align-middle">{{ order.formattefTotalPrice }} €</td>
                            <td class="td-options align-middle">
                                <a href="" class="btn btn-dark btn-icon" title="détail de la commande"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            </td>
                            <td class="td-options align-middle">
                                <a href="" class="btn btn-dark btn-icon" title="facture de la commande"><i class="fa fa-download" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}