{% extends 'base.html.twig' %}
{% block title 'La boutique' %}

{% block body %}
    <div class="color-jumbotron-home jumbotron text-center text-white rounded-0">
        <div class="row">
            <div class=" col-lg-4 col-12">
                <img class="logo-img" src="/images/logo.jpg">
            </div>
            <div class="col-lg-4 col-12 py-5">
                <h1 class="title-h1">La boutique du barbier</h1>
            </div>
            <div class="d-lg-block col-lg-4 d-none">
                <img class="logo-img" src="/images/logo.jpg">
            </div>
        </div>
        <div class="row">
            {% include 'product/_searchForm.html.twig' %}
        </div>
    </div>
    <div class="container mt-5">

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <div class="row">
            {% for product in products %}
                <div class="offset-xl-0 col-xl-3 offset-lg-0 col-lg-3 offset-md-0 col-md-4 offset-sm-0 col-sm-6 offset-2 col-8">
                    <div class="card my-3">
                        <div class="card-body card-body-product p-0">
                            <a class="product-link"
                               href="{{ path('product.show', {id: product.id, slug: product.slug}) }}">
                                <div>
                                    {% if product.image %}
                                        <img src="{{ 'images/products/' ~ product.image }}"
                                             alt="card-img-top"
                                             style="width: 100%; height: auto;">
                                    {% else %}
                                        <img src="{{ 'images/empty.jpg' }}" alt="card-img-top"
                                             style="width: 100%; height: auto;">
                                    {% endif %}
                                </div>
                                {% if app.user %}
                                <div class="button-basket">
                                    <a href="{{ path('basket.add', {'id': product.id}) }}"
                                       title="Ajouter au panier">Ajouter au panier</a>
                                </div>
                                {% endif %}
                                <div class="color-card">
                                    <h4 class="title-product-link p-3"
                                        title="{{ product.name }}"><a
                                                href="{{ path('product.show', {id: product.id, slug: product.slug}) }}">{{ product.name }}</a>
                                    </h4>
                                    <p class="price-paragraphe text-center">{{ product.formatedPrice }} €</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="pagination justify-content-center">
            {{ knp_pagination_render(products) }}
        </div>
    </div>
{% endblock %}