{% extends 'base.html.twig' %}
{% block title 'La boutique' %}

{% block body %}
    <div class="color-jumbotron-home jumbotron text-center text-white rounded-0">
        <div class="row">
            <div class="col-4">
                <img class="logo-img" src="/images/logo.jpg">
            </div>
            <div class="col-4 py-5">
                <h1 class="title-h1">La boutique du barbier</h1>
            </div>
            <div class="col-4">
                <img class="logo-img" src="/images/logo.jpg">
            </div>
        </div>
        <div class="row">
            {% include 'product/_searchForm.html.twig' %}
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            {% for product in products %}
                <div class="col-md-3">
                    <div class="card my-3">
                        <div class="card-body card-body-product p-0">
                            <a class="product-link"
                               href="{{ path('product.show', {id: product.id, slug: product.slug}) }}">
                                <div>
                                    {% if product.image %}
                                        <img src="{{ 'images/products/' ~ product.image }}"
                                             alt="card-img-top"
                                             style="width: 100%; height: auto;">
                                    {% else %}
                                        <img src="{{ 'images/empty.jpg' }}" alt="card-img-top"
                                             style="width: 100%; height: auto;">
                                    {% endif %}
                                    <a href="{{ path('basket.add', {'id': product.id}) }}" class="button-basket" title="Ajouter au panier">Ajouter au panier</a>
                                </div>
                                <div class="color-card">
                                    <h5 class="title-product-link p-3"
                                        title="{{ product.name }}"><a href="{{ path('product.show', {id: product.id, slug: product.slug}) }}">{{ product.name }}</a></h5>
                                    <p class="price-paragraphe text-center">{{ product.formatedPrice }} €</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="pagination justify-content-center">
            {{ knp_pagination_render(products) }}
        </div>
    </div>
{% endblock %}