{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5 ">
        <div class="row py-5">
            <div class="col-5 pt-5">
                {% if product.image %}
                    <img src="{{ '/images/products/' ~ product.image }}"
                         alt="card-img-top"
                         style="width: 100%; height: auto;">
                {% else %}
                    <img src="{{ '/images/empty.jpg' }}" alt="card-img-top"
                         style="width: 100%; height: auto;">
                {% endif %}
            </div>
            <div class="col-7 pt-5">
                <div class="row">
                    <h5 id="title-product">{{ product.name }}</h5>
                </div>
                <div class="row">
                    <p id="price-product" class="text-left">{{ product.formatedPrice }} €</p>
                </div>
                <div class="row py-5">
                    <p id="description-product">{{ product.description }}</p>
                </div>
                <div class="row ">
                    <a href="{{ path('basket.add', {'id': product.id}) }}" class="btn btn-dark button"
                       title="Ajouter au panier">Ajouter au panier</a>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

