{% extends 'base.html.twig' %}
{% block title "Edition d'une catégorie" %}

{% block body %}
    <div class="row m-0">
        <div class="menu-admin d-lg-block col-lg-2 d-non">
            {{ include('layout/sidebar.html.twig') }}
        </div>
        <div class="container-admin offset-lg-2 col-lg-10 offset-0 col-12">
            <div class="container mt-4">
                <h2>Edition de la catégorie n° <span class="text-primary">{{ category.id }}</span></h2>

                {{ form_start(form) }}
                <div class="row">
                    <div class="offset-lg-3 col-lg-6 offset-md-1 col-md-10">{{ form_row(form.name) }}</div>
                </div>
                {{ form_widget(form) }}
                <div class="text-center">
                    <button class="btn btn-primary btn-lg">{{ button|default('Editer') }}</button>
                </div
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

