{% extends 'base.html.twig' %}
{% block title 'Les produits' %}
{% block body %}
    <div class="row m-0">
        <div class="menu-admin col-2">
            {{ include('layout/sidebar.html.twig') }}
        </div>
        <div class="container-admin col-10">
            <div class="container mt-4">
                <div class="row title-row">
                    <div class="col-3">
                        <a href="{{ path('admin.product.new') }}" class="btn btn-outline-success button col-2" title="Ajouter"><i
                                    class="fa fa-plus" aria-hidden="true"></i></a>
                    </div>
                    <div class="col-6">
                        <h3>Gestion des produits</h3>
                    </div>
                </div>

                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}

                <table class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Image</th>
                        <th>Produit</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        <tr>
                            <td class="td-image"> {% if product.image %}
                                    <img src="{{ '/images/products/' ~ product.image }}"
                                         alt="card-img-top"
                                         style="width: 30%; height: auto;">
                                {% else %}
                                    <img src="{{ '/images/empty.jpg' }}" alt="card-img-top"
                                         style="width: 30%; height: auto;">
                                {% endif %}
                            </td>
                            <td class="td-name align-middle">{{ product.name }}</td>
                            <td class="td-options align-middle">
                                <a href="{{ path('admin.product.edit',  {id: product.id }) }}" class="btn btn-dark button"
                                   title="Editer"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                <form method="post" action="" style="display: inline-block" onsubmit="return confirm('Etes-vous sur de vouloir supprimer ce bien?')">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="">
                                    <button class="btn btn-dark button" title="Supprimer"><i class="fa fa-trash"
                                                                                             aria-hidden="true"></i></button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}