{% extends 'base.html.twig' %}
{% block title 'Les produits' %}
{% block body %}
    <div class="row m-0">
        <div class="menu-admin d-lg-block col-lg-2 d-none">
            {{ include('layout/sidebar.html.twig') }}
        </div>
        <div class="container-admin offset-lg-2 col-lg-10 offset-0 col-12">
            <div class="container mt-4">
                <div class="title-row">
                    <div class="row">
                        <div class="col-2 text-left">
                            <a href="{{ path('admin.product.new') }}" class="btn btn-icon btn-outline-success"
                               title="Ajouter"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        </div>
                        <div class="col-6">
                            <h3>Gestion des produits</h3>
                        </div>
                    </div>
                </div>

                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}

                <table id="example" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                    <tr>
                        <th>Categorie</th>
                        <th>Produit</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                    <tr>
                        <td class="td-category align-middle">{{ product.category.name }}</td>
                        <td class="td-name align-middle">{{ product.name }}</td>
                        <td class="td-options align-middle">
                            <button class="btn btn-icon btn-dark" data-toggle="modal" data-target="#exampleModal"
                               title="Editer"><i class="fa fa-eye" aria-hidden="true"></i>
                            </button>
                        </td>
                        <td class="td-options align-middle">
                            <a href="{{ path('admin.product.edit',  {id: product.id }) }}"
                               class="btn btn-icon btn-dark"
                               title="Editer"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>
                        </td>
                        <td class="td-options align-middle">
                            <form method="post" action=""
                                  onsubmit="return confirm('Etes-vous sur de vouloir supprimer ce bien?')">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="">
                                <button class="btn btn-dark btn-icon" title="Supprimer"><i class="fa fa-trash"
                                                                                           aria-hidden="true"></i>
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{#    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalTitle" aria-hidden="true">#}
{#        <div class="modal-dialog" role="document">#}
{#            <div class="modal-content">#}
{#                <div class="modal-header">#}
{#                    <h5 class="modal-title" id="exampleModalTitle">Modal title</h5>#}
{#                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                        <span aria-hidden="true">&times;</span>#}
{#                    </button>#}
{#                </div>#}
{#                <div class="modal-body">#}
{#                    <div class="offset-md-0 col-md-5 offset-2 col-8 pt-5">#}
{#                        {% if products.image %}#}
{#                            <img src="{{ '/images/products/' ~ products.image }}"#}
{#                                 alt="card-img-top"#}
{#                                 style="width: 100%; height: auto;">#}
{#                        {% else %}#}
{#                            <img src="{{ '/images/empty.jpg' }}" alt="card-img-top"#}
{#                                 style="width: 100%; height: auto;">#}
{#                        {% endif %}#}
{#                    </div>#}
{#                </div>#}

{#                <div class="modal-footer">#}
{#                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermé</button>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

{% endblock %}