{% extends 'base.html.twig' %}
{% block title 'Nouveau produit' %}

{% block body %}
    <div class="row m-0">
        <div class="menu-admin d-lg-block col-lg-2 d-none">
            {{ include('layout/sidebar.html.twig') }}
        </div>
        <div class="container-admin offset-lg-2 col-lg-10 offset-0 col-12">
            <div class="container mt-4">
                <h2>Nouveau produit</h2>

                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-4">{{ form_row(form.name) }}</div>
                    <div class="col-md-4">{{ form_row(form.price) }}</div>
                    <div class="col-md-4">{{ form_row(form.stock) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-4">{{ form_row(form.category) }}</div>
                    <div class="col-md-4">{{ form_row(form.brand) }}</div>
                    <div class="col-md-4">{{ form_row(form.image) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-12">{{ form_row(form.description, { 'attr': {'rows': 7} }) }}</div>
                </div>
                {{ form_widget(form) }}
                <div class="text-center">
                    <button class="btn btn-primary btn-lg">{{ button|default('Enregistrer') }}</button>
                </div
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}


