{% extends 'base.html.twig' %}
{% block title 'livraison' %}

{% block body %}
    <div class="container mt-4">

        <div class="title-row">
            <div class="row">
                <div class="offset-3 col-6">
                    <h3>Livraison</h3>
                </div>
                <div class="col-3 text-right">
                    <a href="{{ path('payment.index') }}" class="btn btn-success btn-lg" title="Payment">Payment</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="text-center font-weight-bold">Adresse de livraison</h4>
                        <p class="card-text">Nom : {{ user.firstName }} {{ user.lastName }}</p>
                        <p class="card-text">Email : {{ user.username }}</p>
                        <p class="card-text">Mobile : {{ user.mobile }}</p>
                        <p class="card-text">Adresse : {{ user.address }}</p>
                        <p class="card-text">Ville : {{ user.city }} , ({{ user.postalCode }})</p>
                        <p class="card-text">Pays : {{ user.country }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="text-center font-weight-bold">Adresse de facturation</h4>
                        <p class="card-text">Nom : {{ user.firstName }} {{ user.lastName }}</p>
                        <p class="card-text">Email : {{ user.username }}</p>
                        <p class="card-text">Mobile : {{ user.mobile }}</p>
                        <p class="card-text">Adresse : {{ user.address }}</p>
                        <p class="card-text">Ville : {{ user.city }} , ({{ user.postalCode }})</p>
                        <p class="card-text">Pays : {{ user.country }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-3">
            <div class="col-12 text-right">
                <a href="{{ path('payment.index') }}" class="btn btn-success btn-lg" title="Payment">Payment</a>
            </div>
        </div>
    </div>
{% endblock %}