{% extends 'base.html.twig' %}
{% block title 'Payment' %}

{% block body %}
    <div class="container mt-5 pt-5">

        <div class="title-row">
            <div class="row">
                <div class="offset-3 col-6">
                    <h3>Payment</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="text-center font-weight-bold">Adresse de livraison</h4>
                        <p class="card-text">Nom : {{ user.firstName }} {{ user.lastName }}</p>
                        <p class="card-text">Email : {{ user.username }}</p>
                        <p class="card-text">Mobile : {{ user.mobile }}</p>
                        <p class="card-text">Adresse : {{ user.address }}</p>
                        <p class="card-text">Ville : {{ user.city }} , ({{ user.postalCode }})</p>
                        <p class="card-text">Pays : {{ user.country }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="text-center font-weight-bold">Adresse de facturation</h4>
                        <p class="card-text">Nom : {{ user.firstName }} {{ user.lastName }}</p>
                        <p class="card-text">Email : {{ user.username }}</p>
                        <p class="card-text">Mobile : {{ user.mobile }}</p>
                        <p class="card-text">Adresse : {{ user.address }}</p>
                        <p class="card-text">Ville : {{ user.city }} , ({{ user.postalCode }})</p>
                        <p class="card-text">Pays : {{ user.country }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="offset-3 col-6 mt-5 pt-5">
            <div class="card">
                <div class="card-body">
                    <form action="{{ path('payment.validate') }}" method="post" id="payment-form">
                        <div class="form-row m-auto">
                            <label for="card-element">Saisissez votre numèro de carte de crédit</label> <br/>
                            <div id="card-element" style="height: 20px; width: 400px;"></div>
                            <br/>
                            <div id="card-error" role="alert"></div>
                        </div>
                        <div class="text-center mt-3">
                            <button class="btn btn-dark btn-lg" title="Valider le payment">Valider le payment
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="pt-4 p-0">
        {{ include('layout/footer.html.twig') }}
    </div>
{% endblock %}