{% extends 'base.html.twig' %}
{% block title 'Recapitualif' %}

{% block body %}
    <div class="container mt-4">

        <div class="title-row">
            <div class="row">
                <div class="col-12">
                    <h3>Récapitulatif de votre commande n° <strong>{{ order.reference }}</strong></h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h3 class="text-center font-weight-bold">Commande</h3>
                        <div class="row my-3">
                            <div class="col-12">
                                <p class="card-text"><strong>Reference :</strong> {{ order.reference }}</p>
                                <p class="card-text"><strong>Date :</strong> {{ order.formattedDate }}</p>
                                <p class="card-text"><strong>Prix Total :</strong> {{ order.formattefTotalPrice }} €</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h3 class="text-center font-weight-bold">Informations</h3>
                        <div class="row my-3">
                            <div class="col-lg-6 col-md-12">
                                <p class="card-text"><strong>Nom :</strong> {{ user.firstName }} {{ user.lastName }}</p>
                                <p class="card-text"><strong>Email :</strong> {{ user.username }}</p>
                                <p class="card-text"><strong>Mobile :</strong> {{ user.mobile }}</p>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <p class="card-text"><strong>Adresse :</strong> {{ user.address }}</p>
                                <p class="card-text"><strong>Ville :</strong> {{ user.city }} , ({{ user.postalCode }})
                                </p>
                                <p class="card-text"><strong>Pays :</strong> {{ user.country }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-b-5">
            <div class="col-12 my-3 text-center">
                <h4>Liste de vos produits commandés</h4>
            </div>
            {% for productOrder in productsOrders %}
                <div class="offset-xl-0 col-xl-3 offset-lg-0 col-lg-3 offset-md-0 col-md-4 offset-sm-0 col-sm-6 offset-2 col-8">
                    <div class="card my-3">
                        <div class="card-body card-body-product p-0">
                            <div>
                                {% if productOrder.product.image %}
                                    <img src="{{ '../images/products/' ~ productOrder.product.image }}"
                                         alt="card-img-top"
                                         style="width: 100%; height: auto;">
                                {% else %}
                                    <img src="{{ 'images/empty.jpg' }}" alt="card-img-top"
                                         style="width: 100%; height: auto;">
                                {% endif %}
                            </div>
                            <div class="color-card">
                                <h4 class="title-product-link p-3">
                                    {{ productOrder.product.name }}
                                </h4>
                                <p class="price-paragraphe text-center">{{ productOrder.product.formatedPrice }}
                                    €</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
        <div class="text-center">
            <a href="{{ path('product.index') }}" class="btn btn-dark btn-lg"
               title="Retour à la boutique">Retour à la boutique</a>
        </div>
    </div>
    <div class="pt-4 p-0">
        {{ include('layout/footer.html.twig') }}
    </div>
{% endblock %}