{% extends 'base.html.twig' %}
{% block title "Nouvelle marque" %}

{% block body %}
    <div class="row m-0">
        <div class="menu-admin col-2">
            {{ include('layout/sidebar.html.twig') }}
        </div>
        <div class="container-admin col-10">
            <div class="container mt-4">
                <h2>Nouvelle marque</h2>

                {{ form_start(form) }}
                <div class="row">
                    <div class="offset-3 col-md-6">{{ form_row(form.name) }}</div>
                </div>
                {{ form_widget(form) }}
                <div class="text-center">
                    <button class="btn btn-primary button">{{ button|default('Enregistrer') }}</button>
                </div
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
