<nav class="color-nav navbar navbar-expand-lg navbar-dark py-0">
    <a class="navbar-brand home-link" href="{{ path('home.index') }}">BarberShop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link button-link {% if current_menu is defined and current_menu == 'products' %}active{% endif %}"
                   href="{{ path('product.index') }}">Boutique</a>
            </li>
        </ul>
    </div>
    {% if not app.user %}
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle button-link {% if current_menu is defined and current_menu == 'user' %}active{% endif %}" href="#" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user"></i>
            </a>
            <div class="dropdown-menu security" aria-labelledby="navbarDropdownMenuLink">
                <a href="{{ path('register') }}"
                   class="dropdown-item button">Inscription</a>
                <a href="{{ path('login') }}"
                   class="dropdown-item button">Connexion</a>
            </div>
        </li>
    {% endif %}
    {% if app.user %}
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle button-link {% if current_menu is defined and current_menu == 'basket' %}active{% endif %}"
                   href="#" id="navbarDropdownMenuLink" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Panier
                </a>
                <div class="dropdown-menu basket">
                    <a class="dropdown-item button" href="{{ path('basket.index') }}">
                        <div class="row">
                            <div class="col-4 text-center p-3">
                                <i class="basket-icon text-primary fa fa-shopping-basket" aria-hidden="true"></i>
                            </div>
                            <div class="col-8 pl-0">
                                <p class="basket-par">PRODUITS: <strong>1</strong></p>
                                <p class="basket-par">PRIX TOTAL: <strong>36.45€</strong></p>
                            </div>
                        </div>
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle button-link {% if current_menu is defined and current_menu == 'user' %}active{% endif %}"
                   href="#" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ app.user.fullname }}
                </a>
                <div class="dropdown-menu security" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item button" href="{{ path('profil.index')}}">Mon profil</a>
                    {% if app.user.roles == ['ROLE_ADMIN'] %}
                    <a class="dropdown-item button" href="{{ path('admin.home') }}">Administration</a>
                    {% endif %}
                    <a class="dropdown-item button" href="{{ path('logout') }}">Se déconnecter</a>
                </div>
            </li>
        </ul>
    {% endif %}
</nav>