<nav class="style-nav fixed-top navbar navbar-expand-lg navbar-dark py-0">
    <a class="navbar-brand home-link px-3" href="{{ path('home.index') }}">BarberShop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav col-12 p-0">
            <li class="nav-item col-lg-3 col-md-12 p-0">
                <a class="nav-link button-link {% if current_menu is defined and current_menu == 'products' %}active{% endif %}"
                   href="{{ path('product.index') }}">Boutique</a>
            </li>
            {% if not app.user %}
                <li class="nav-item dropdown offset-lg-6 col-lg-3 offset-md-2 col-md-8 p-0">
                    <a class="nav-link dropdown-toggle button-link {% if current_menu is defined and current_menu == 'user' %}active{% endif %}"
                       href="#" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user"></i>
                    </a>
                    <div class="dropdown-menu col-12" aria-labelledby="navbarDropdownMenuLink">
                        <a href="{{ path('register') }}"
                           class="dropdown-item size">Inscription</a>
                        <a href="{{ path('login') }}"
                           class="dropdown-item size">Connexion</a>
                    </div>
                </li>
            {% endif %}
            {% if app.user %}
                <li class="nav-item dropdown offset-lg-3 col-lg-3 col-md-12 p-0">
                    <a class="nav-link dropdown-toggle button-link {% if current_menu is defined and current_menu == 'basket' %}active{% endif %}"
                       href="#" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Panier
                        {% if items | length > 0 %}
                            <span class="badge badge-light">{{ items | length }}</span>
                        {% endif %}
                    </a>
                    <div class="dropdown-menu col-12">
                        {% if items | length > 0 %}
                            <div class="dropdown-item p-0">
                                {% for item in items %}
                                    <div class="card p-0 offset-lg-0 col-lg-12 offset-md-2 col-md-8">
                                        <div class="card-body p-0">
                                            <div class="row m-0">
                                                <div class="col-lg-3 col-2 p-0">
                                                    <img src="{{ '../images/products/' ~ item.product.image }}"
                                                         alt="card-img-top"
                                                         style="width: 100%; height: auto;">
                                                </div>
                                                <div class="col-lg-9 col-10 p-0 infos-product">
                                                    <div class="row m-0 mt-3">
                                                        <div class="col-12 p-0">
                                                            <h5 class="size text-left">{{ item.product.name }}</h5>
                                                        </div>
                                                    </div>
                                                    <div class="row m-0 mt-3">
                                                        <div class="col-9  p-0">
                                                            <div class="row m-0">
                                                                <span class="size">Quantité : {{ item.quantity }}</span>
                                                            </div>
                                                            <div class="row m-0">
                                                                <span class="size">Prix : {{ item.product.price }} €</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-3 p-3 bg-dark text-center">
                                                            <a class="text-white size"
                                                               href="{{ path('basket.delete', { 'id': item.product.id }) }}"
                                                               title="Supprimer le produit"><i class="fa fa-trash"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="offset-lg-0 col-lg-12 offset-md-2 col-md-8">
                                <div class="row my-2">
                                    <div class="col-lg-12 col-6">
                                        <p class="size text-center font-weight-bold pt-2">Prix total : {{ total }} €</p>
                                    </div>
                                    <div class="col-lg-12 col-6 btn-success text-center p-2">
                                        <a href="{{ path('basket.index') }}"
                                           class="text-white size">Panier</a>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="col-lg-12 text-center">
                                <span class="size">Votre panier est vide !</span>
                            </div>
                        {% endif %}
                    </div>
                </li>
                <li class="nav-item dropdown offset-lg-0 col-lg-3 offset-md-2 col-md-8  p-0">
                    <a class="nav-link dropdown-toggle button-link {% if current_menu is defined and current_menu == 'user' %}active{% endif %}"
                       href="#" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ app.user.fullname }}
                    </a>
                    <div class="dropdown-menu col-lg-12 col-md-12" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item size" href="{{ path('profil.index') }}">Mon profil</a>
                        {% if app.user.roles == ['ROLE_ADMIN'] %}
                            <a class="dropdown-item size" href="{{ path('admin.home') }}">Administration</a>
                        {% endif %}
                        <a class="dropdown-item size" href="{{ path('logout') }}">Se déconnecter</a>
                    </div>
                </li>
                {% if app.user.roles == ['ROLE_ADMIN'] %}
                    <li class="nav-item dropdown offset-lg-0 col-lg-3 offset-md-2 col-md-8 p-0">
                        <a class="nav-link dropdown-toggle button-link {% if current_menu is defined and current_menu == 'user' %}active{% endif %}"
                           href="#" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Administration
                        </a>
                        <div class="dropdown-menu col-lg-12 col-md-12" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item size {% if current_menu is defined and current_menu == 'home' %}active{% endif %}" href="{{ path('admin.home')}}">Accueil</a>
                            <a class="dropdown-item size {% if current_menu is defined and current_menu == 'products-admin' %}active{% endif %}" href="{{ path('admin.product.index')}}">Les produits</a>
                            <a class="dropdown-item size {% if current_menu is defined and current_menu == 'images-admin' %}active{% endif %}" href="{{ path('admin.image.index')}}">Les Images</a>
                            <a class="dropdown-item size {% if current_menu is defined and current_menu == 'orders' %}active{% endif %}" href="{{ path('admin.order.index')}}">Les commandes</a>
                            <a class="dropdown-item size {% if current_menu is defined and current_menu == 'users' %}active{% endif %}" href="{{ path('admin.user.index')}}">Les utilisateurs</a>
                            <a class="dropdown-item size {% if current_menu is defined and current_menu == 'categories' %}active{% endif %}" href="{{ path('admin.category.index')}}">Les catégories</a>
                            <a class="dropdown-item size {% if current_menu is defined and current_menu == 'brands' %}active{% endif %}" href="{{ path('admin.brand.index')}}">Les marques</a>
                        </div>
                    </li>
                {% endif %}
            {% endif %}
        </ul>
    </div>
</nav>